<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('navbar.ejs') %>
    <div class="registration">
        <h2> Please! Register here</h2>
        <form method="POST" action="/register">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter Your Name" required>
            </div>
            <br>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter Your Email" required>
            </div>
            <br>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
    </div>
</body>
</html>